.contacts {
    width: 300px;
    margin: 0 auto;
    border: 1px dashed #28a4a1;
    padding: 20px;
}

.contact-image {
    margin: 15px 0 15px 25px;
    border-radius: 50%;
    border: 1px solid black;
}

.contacts-list {
    padding-left: 0;
}

.contact {
    display: flex;
    list-style: none;
    border-bottom: 1px solid gray;
}

.contact-info {
    margin: 25px 0 0 30px;
}

.contact-name {
    font-size: 25px;
}

.contact-number {
    color: gray;
}

.search {
    width: 100%;
    height: 50px;
    font-size: 20px;
    padding: 0 30px;
}


