.wrapper {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}

.slider {
  width: 450px;
  height: 300px;
  position: relative;
  margin: 0 auto;
}

.slider img {
  position: absolute;
  margin: 0 auto;
  opacity: 0;
  left: 0;
  right: 0;
  height: 200px;
  border: 3px solid grey;
  border-radius: 10px;
  margin-top: 40px;
}

.slider .showed {
  opacity: 1;
}
